@use "styles/index" as *;

.ctable-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  .MuiTableCell-root {
    > span {
      white-space: nowrap;
      font-size: 16px;
      text-transform: capitalize;
    }

    svg {
      cursor: pointer;
    }
  }
}
